:root {
  --dark-black: #121212;
  --text-color: #0f0f0f;
  --grey-colour: #555;
  --white: #fff;
  --brand-color: #fb6514;
  --lime-green: #5ec045;
  --royal-blue: #1f6fff;
  --medium-orchid: #b75dda;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-form-formradioinput--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-users-userformpagewrap {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 340px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.w-users-userloginformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-userformheader {
  text-align: center;
}

.w-users-userformbutton {
  text-align: center;
  width: 100%;
}

.w-users-userformfooter {
  justify-content: space-between;
  margin-top: 12px;
  display: flex;
}

.w-users-userformerrorstate {
  margin-left: 20px;
  margin-right: 20px;
  position: absolute;
  top: 100%;
  left: 0%;
  right: 0%;
}

.w-users-usersignupformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-userformsuccessstate {
  display: none;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-users-usersignupverificationmessage {
  display: none;
}

.w-users-userresetpasswordformwrapper, .w-users-userupdatepasswordformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-useraccountwrapper {
  background-color: #f5f5f5;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.w-users-blockheader {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  justify-content: space-between;
  align-items: baseline;
  padding: 4px 20px;
  display: flex;
}

.w-users-blockcontent {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  margin-bottom: 20px;
  padding: 20px;
}

.w-users-useraccountformsavebutton {
  text-align: center;
  margin-right: 8px;
}

.w-users-useraccountformcancelbutton {
  text-align: center;
  color: #333;
  background-color: #d3d3d3;
}

.w-users-useraccountsubscriptionlist {
  -webkit-overflow-scrolling: touch;
  flex: 1;
  overflow: auto;
}

.w-users-useraccountsubscriptionlistitem {
  align-items: flex-start;
  display: flex;
}

.w-commerce-commercecartitemimage {
  width: 60px;
  height: 0%;
}

.w-commerce-commercecartiteminfo {
  flex-direction: column;
  flex: 1;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
}

.w-commerce-commercecartproductname {
  font-weight: 700;
}

.w-users-gridrow {
  grid-column-gap: 8px;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  display: grid;
}

.w-users-flexcolumn {
  flex-direction: column;
  display: flex;
}

.w-users-useraccountsubscriptioncancelbutton {
  color: #3898ec;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background-color: #0000;
  padding: 0;
}

body {
  color: var(--dark-black);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 85px;
  font-weight: 400;
  line-height: 120%;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 29px;
  font-weight: 400;
  line-height: 36px;
}

h3 {
  color: var(--text-color);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

p {
  margin-bottom: 15px;
}

a {
  color: var(--grey-colour);
  text-decoration: none;
}

a:hover {
  color: #000;
}

li {
  margin-bottom: -3px;
  padding-left: 8px;
}

img {
  border-radius: 3px;
  max-width: 100%;
  display: inline-block;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin-bottom: 30px;
  padding: 0 20px;
  font-size: 20px;
  line-height: 29px;
}

figcaption {
  color: #9e9e9e;
  text-align: center;
  background-color: #0000000a;
  border-radius: 3px;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 2px;
  font-size: 12px;
  line-height: 18px;
}

.button {
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #1f6fff;
  border-radius: 3px;
  margin-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 12px;
  font-weight: 600;
  transition: background-color .2s, background-position .2s, color .2s, border .2s, box-shadow .2s;
}

.button:hover {
  color: #fff;
  background-color: #0b4fc9;
  box-shadow: 0 8px 16px 4px #0000004d;
}

.portfolio-overlay-block {
  background-color: #2c2d31cc;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  position: relative;
}

.portfolio-block-title {
  font-size: 18px;
  font-weight: 700;
}

.portfolio-block-subtitle {
  margin-top: 10px;
  font-size: 14px;
}

.contact-popup {
  z-index: 2000;
  background-color: #1f232ae6;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
}

.gallery-overlay-block {
  background-color: #0000;
  width: 100%;
  height: 100%;
  transition: background-color .2s;
  display: none;
}

.gallery-overlay-block:hover {
  background-color: #fff3;
}

.sign-up-popup {
  z-index: 2000;
  background-color: #1f232ae6;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  inset: 0;
}

.portfolio-lightbox-overlay {
  z-index: 5000;
  background-color: #0d192eb3;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  inset: 0;
}

.button-image-wrapper {
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  overflow: hidden;
}

.service {
  background-image: url('../images/Service.png');
  background-position: 50%;
  background-size: cover;
  padding-bottom: 60px;
}

.cta-form {
  max-width: 55%;
  margin-left: auto;
  margin-right: auto;
}

.award {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.progress-bar__content-4 {
  object-fit: fill;
  background-color: #fd853a;
  border-radius: 1000px;
  width: 18%;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  position: static;
  inset: 0% auto auto 0%;
  overflow: visible;
}

.progress-bar__content-4._1 {
  background-color: #fd853a;
  width: 88%;
}

.progress-bar__content-4._2 {
  width: 90%;
}

.progress-bar__content-4._3 {
  width: 94%;
  margin-right: 0;
}

.progress-bar__content-4._4 {
  flex: 0 auto;
  width: 99%;
  margin-right: 0;
  display: block;
}

.footer-left-content {
  flex-flow: column;
  display: flex;
}

.about-grid {
  grid-template-rows: auto;
  grid-template-columns: .8fr 1fr;
  padding-bottom: 20px;
}

.about-grid.gap-0 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.about-grid.gap-0.padding-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-grid.gap-0.padding-120._0 {
  padding-bottom: 0;
}

.nav-menu.flext-center {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-social-link {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cta {
  background-image: url('../images/Service.png');
  background-position: 50%;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 100px;
}

.webflow-bg {
  z-index: 1;
  max-width: 80%;
  position: absolute;
  inset: 0% 0% auto;
}

.title {
  font-weight: 500;
}

.project-button {
  grid-column-gap: .5rem;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #fd853a;
  border: 1px solid #7f56d9;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: .625rem 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px #1018280d;
}

.project-button:focus {
  background-color: #9e9d9d;
  box-shadow: 0 1px 2px #1018280d, 0 0 0 4px #f4ebff;
}

.button-text-wrapper {
  color: #555;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 120%;
  position: relative;
  overflow: hidden;
}

.skill-heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 600;
}

.button-arrow-hide {
  position: absolute;
  inset: 16% 0 0 -100%;
}

.project-section-wrap {
  overflow: visible;
}

.button-border {
  background-color: #121212;
  width: 100%;
  height: 2px;
  position: absolute;
  inset: auto auto -5% 0%;
}

.project-image {
  width: 100%;
}

.project-slider-menu {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  color: #667085;
  background-color: #0000;
  border: 1px solid #9e9d9d;
  border-radius: .375rem;
  justify-content: center;
  align-items: center;
  padding: .5rem 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 600;
  display: flex;
}

.project-slider-menu.w--current {
  color: #fff;
  background-color: #fd853a;
  border-width: 0;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px #1018281a, 0 1px 2px #1018280f;
}

.project-slider-menu-wrap {
  grid-column-gap: .5rem;
  grid-row-gap: 16px;
  background-color: #0000;
  border: 1px solid #9e9d9d;
  border-radius: .5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr max-content 1fr 1fr;
  grid-auto-columns: 1fr;
  align-self: center;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  padding: .375rem;
  display: grid;
}

.contact-wrap {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  font-style: italic;
  font-weight: 600;
  transition: all .4s;
  display: flex;
}

.client-post {
  color: #475467;
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: .875rem;
  line-height: 1.5;
}

.footer-right {
  flex-direction: column;
  display: flex;
}

.footer-link-heading {
  color: #fd853a;
  letter-spacing: normal;
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: 600;
}

.testimonial-client-image {
  margin-right: .75rem;
}

.hero-button {
  z-index: 98;
  grid-column-gap: 7px;
  grid-row-gap: 7px;
  color: #fff;
  cursor: pointer;
  background-color: #131313;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
  padding: 10px 30px;
  font-weight: 500;
  transition: all .4s;
  display: inline-flex;
  position: relative;
}

.hero-button:hover {
  color: #000;
  background-color: #fd853a;
}

.hero-button.top-0 {
  margin-top: 0;
}

.hero-button.top-0.border {
  box-shadow: 0 0 0 .4px var(--white);
}

.animation {
  background-color: #fb6514;
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
}

.project-div {
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  display: flex;
}

.form-field {
  color: #0f0f0f;
  text-align: left;
  border: 0 solid #000;
  height: 40px;
  padding-top: 15px;
  font-size: 18px;
}

.text-brand {
  color: #fd853a;
}

.for-mobile.hidden {
  display: none;
}

.project-grid {
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.hero-content {
  z-index: 99;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 40px;
  position: relative;
}

.progres-bar-2 {
  background-color: #161616;
  border-radius: 90px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  width: 100px;
  height: 14px;
  margin-right: 8px;
  padding: 4px;
  display: flex;
  position: relative;
}

.progres-bar-2.card-bar {
  color: #fbf9fc;
  background-color: #ddd;
  width: 100%;
}

.submit-button {
  background-color: #fd853a;
  border-radius: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.submit-button.footer {
  border-radius: 10px;
}

.button-text-hide {
  color: var(--brand-color);
  width: 100%;
  height: 100%;
  font-size: 22px;
  position: absolute;
  inset: 100% 0% auto;
}

.button-text {
  font-size: 22px;
}

.testimonial-client {
  text-align: left;
  align-items: center;
  display: flex;
}

.hero-contact-info {
  z-index: 99;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 55px;
  display: flex;
  position: relative;
}

.uui-footer02_social-link {
  color: #98a2b3;
  align-items: center;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.uui-footer02_social-link:hover {
  color: #667085;
}

.footer-from-block {
  border: 1px solid #9e9d9d;
  border-radius: 10px;
  max-width: 35rem;
  padding: 8px;
}

.hero-grid {
  grid-template-rows: auto;
  grid-template-columns: .8fr 1fr;
  padding-top: 40px;
  padding-bottom: 40px;
}

.line {
  background-color: #ddd;
  width: 2px;
  height: 150px;
}

.cta-form-wrap {
  background-color: #fff;
  border: 1px solid #9e9d9d;
  border-radius: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  display: flex;
}

.footer-top-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  align-items: start;
  display: block;
}

.card-text {
  color: #8f8c92;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17px;
  font-weight: 400;
}

.social-icon {
  cursor: pointer;
  background-color: #ddd;
  border-radius: 50px;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  transition: all .4s;
  display: flex;
}

.social-icon:hover {
  background-color: #fd853a;
}

.social-icon.bg-none {
  background-color: #ddd0;
}

.red-animation {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: #000;
  background-color: #fff;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 500;
  display: flex;
  transform: rotate(-3deg);
}

.social-list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 0rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  place-items: start;
  display: grid;
}

.project-wrap {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  text-align: center;
  border: 1px solid #eaecf0;
  border-radius: 10px;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 5px;
  transition: all .6s;
  overflow: hidden;
  box-shadow: 0 12px 16px -4px #00000014, 0 4px 6px -2px #10182808;
}

.project-wrap:hover {
  transform: scale(1.02);
}

.footer-left {
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 3fr 1fr 1fr;
  place-items: start;
}

.testimonial-client-name {
  color: #101828;
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.footer-logo {
  height: 60px;
}

.footer-top {
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}

.progress-skill-wrap {
  margin-bottom: 24px;
}

.skill-header {
  justify-content: space-between;
  margin-bottom: 10px;
  display: flex;
}

.text-wrapper {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 100%;
  display: flex;
}

.error-message {
  margin-top: 1.5rem;
  padding: .875rem 1rem;
}

.testimonial-rating {
  align-items: center;
  display: flex;
}

.testimonial-heading {
  color: #101828;
  letter-spacing: normal;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
}

.testimonial-heading.text-weight-medium {
  font-weight: 500;
}

.footer-logo-img {
  height: 55px;
}

.testimonal-loop {
  display: flex;
}

.nav-link {
  color: #fff;
  border-radius: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  transition: all .4s;
}

.nav-link:hover {
  background-color: #fd853a;
  border-radius: 20px;
  text-decoration: none;
}

.nav-link.w--current {
  color: var(--white);
}

.srvimg {
  border-bottom-right-radius: 50px;
  width: 100%;
}

.srvimg.redius {
  border-bottom-right-radius: 30px;
}

.footer-link-list {
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-auto-columns: 100%;
  place-items: flex-start start;
  display: flex;
}

.peragraph {
  font-weight: 400;
}

.peragraph.padding-top-40 {
  padding-top: 40px;
}

.peragraph.padding-top-40.max-60 {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.peragraph._20 {
  padding-top: 20px;
}

.peragraph.text-size {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
}

.rating-star {
  color: #fec84b;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: .25rem;
  display: flex;
}

.heading-wrap {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  color: var(--white);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
}

.heading-wrap.text-black {
  color: var(--text-color);
}

.uui-footer02_social-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.testimonial-content-wrap {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  background-color: #f9fafb;
  border: 1px solid #f9fafb;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 25rem;
  min-width: 25rem;
  margin-right: 2rem;
  padding: 2rem;
  display: flex;
}

.brand {
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.flex {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  display: flex;
}

.testimonial-component {
  flex-flow: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  margin-top: 4rem;
  display: flex;
}

.footer-link {
  grid-column-gap: .5rem;
  color: #0f0f0f;
  cursor: pointer;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.footer-link:hover {
  color: #344054;
}

.text-bold {
  font-weight: 700;
}

.progress-bar-wrap {
  width: auto;
  min-width: 400px;
  max-width: 560px;
  max-height: 480px;
  padding-top: 20px;
  padding-bottom: 32px;
  padding-right: 40px;
  position: static;
  transform: rotate(0);
}

.hero-image {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.award-box {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  color: var(--white);
  justify-content: center;
  align-items: center;
  display: flex;
}

.sub-title {
  margin-top: 10px;
  font-size: 27px;
  font-weight: 500;
  line-height: 140%;
}

.testimonials-heading {
  text-align: center;
}

.testimonials-heading.cta {
  padding-bottom: 10px;
}

.testimonials-heading.cta.text-white {
  color: var(--white);
  background-image: none;
}

.brand-logo {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 60px;
  padding-left: 0;
}

.inner-container.text-center {
  text-align: center;
}

.inner-container._40px-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

.heading {
  color: var(--text-color);
  font-size: 50px;
  font-weight: 600;
  line-height: 140%;
}

.heading.text-white {
  color: var(--white);
}

.heading.max-45 {
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.heading.cta-45 {
  color: var(--white);
  max-width: 55%;
  margin-left: auto;
  margin-right: auto;
}

.heading.text-100 {
  font-size: 100px;
  line-height: 120%;
}

.navbar {
  color: #fff;
  background-color: #131313;
  border-radius: 50px;
  max-width: 1240px;
  margin: 40px auto 20px;
}

.icon-wrap {
  background-color: #ddd;
  border-radius: 50px;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  display: flex;
}

.card {
  position: relative;
}

.primary-button {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 130px;
  margin-top: 20px;
  padding: 10px 0 3px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.primary-button.resume {
  max-width: 260px;
}

.service-card-image {
  border-left: 1px solid #9e9d9d;
  border-right: 1px solid #9e9d9d;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-top: 40px;
  overflow: hidden;
}

.service-card-image.pd-20 {
  padding-top: 20px;
}

.project-slider-wrap {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-bottom: 40px;
  display: flex;
}

.service-card-arrow {
  cursor: pointer;
  height: 65px;
  position: absolute;
  inset: auto 0% -.5% auto;
}

.about-right-content {
  padding-right: 100px;
}

.footer-form {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr max-content;
  grid-auto-columns: 1fr;
  display: grid;
}

.uui-testimonial16_customer-image {
  object-fit: cover;
  border-radius: 100%;
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  min-height: 3rem;
}

.footer-buttom-wrapper {
  border-top: 1px solid #eaecf0;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding-top: 1rem;
  display: flex;
}

._120-px-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.card-wrapper {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  padding-bottom: 60px;
  display: flex;
}

.service-card-heading {
  color: #fff;
  text-align: center;
  border: 1px solid #9e9d9d;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 30px 10px 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 140%;
}

.service-card-heading.text-black {
  color: #0f0f0f;
}

.success-message {
  background-color: #f4f4f4;
  padding: 1.5rem;
}

.container {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
}

.container.flex-center {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 5fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  place-items: center stretch;
  display: grid;
}

.footer-form-input {
  color: #0f0f0f;
  background-color: #fff;
  border: 0 solid #000;
  border-radius: .5rem;
  height: auto;
  min-height: 2.75rem;
  margin-bottom: 0;
  padding: .5rem .875rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: all .3s;
}

.footer-form-input:focus {
  color: #0f0f0f;
  border-color: #fd853a;
  box-shadow: 0 1px 2px #fd853a, 0 0 0 4px #fd853a1c;
}

.footer-form-input::placeholder {
  color: #0f0f0f;
}

.testimonials {
  overflow: hidden;
}

.text {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  display: flex;
}

.text._60 {
  margin-right: 20px;
}

.uui-badge-small-success-2 {
  grid-column-gap: .25rem;
  color: var(--brand-color);
  white-space: nowrap;
  mix-blend-mode: multiply;
  background-color: #ffd0b6;
  border-radius: 10rem;
  align-items: center;
  padding: .125rem .5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: .75rem;
  font-weight: 500;
  display: flex;
}

.form-button {
  grid-column-gap: .5rem;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  border-style: solid;
  border-width: 1px;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px #1018280d;
}

.form-button:hover {
  border-color: var(--brand-color);
  background-color: var(--brand-color);
}

.form-button:focus {
  background-color: var(--brand-color);
  box-shadow: 0 1px 2px #1018280d, 0 0 0 4px #f4ebff;
}

.website-create-blog {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.service-contact-heading-wrap {
  grid-column-gap: 1rem;
  grid-row-gap: 0rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.uui-text-size-medium-5 {
  color: #475467;
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.service-slide-grid {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  margin-top: 4rem;
  display: grid;
}

.contact-heading {
  text-align: center;
}

.time-line-wrapper {
  position: relative;
}

.uui-icon-1x1-xsmall-4 {
  width: 1.5rem;
  height: 1.5rem;
}

._2nd-heading {
  color: #101828;
  letter-spacing: normal;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
}

._2nd-heading.padding-buttom-10 {
  padding-bottom: 10px;
}

.single-service-box {
  background-color: #0000;
  border-bottom: 4px solid #f2f4f7;
  padding: 0 0 10px;
  display: block;
}

.single-service-box:active, .single-service-box:focus {
  border-bottom-color: var(--brand-color);
}

.single-service-box.w--current {
  opacity: 1;
  background-color: #0000;
  border-left-color: #7f56d9;
}

.timeline-left {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  position: relative;
}

.timeline-content {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: max-content 1fr;
}

.timeline-progress-bar {
  background-color: #eaecf0;
  width: 2px;
  height: 75%;
  position: absolute;
  top: 10%;
  left: 1.75rem;
  right: auto;
}

.contact-tab {
  position: static;
}

.progress-bar {
  background-color: var(--brand-color);
  width: 2px;
  height: 100%;
}

.timeline-icon-wrapper {
  z-index: 1;
  background-color: #fff;
  margin-top: -1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.timeline-icon-outline {
  color: var(--brand-color);
  background-color: #f4ebff;
  border: .5rem solid #f9f5ff;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
}

.timeline-right-padding {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

._90-deg {
  transform: rotate(90deg);
}

.form-field-2col {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.form-radio-2col {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 1rem;
  display: grid;
}

.uui-form-radio-icon {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #d0d5dd;
  border-radius: 100px;
  width: 1.25rem;
  min-width: 1.25rem;
  height: 1.25rem;
  min-height: 1.25rem;
  margin-top: 0;
  margin-left: -1.125rem;
  margin-right: .75rem;
  transition: all .3s;
}

.uui-form-radio-icon:hover {
  border-color: var(--brand-color);
  background-color: #f9f5ff;
}

.uui-form-radio-icon.w--redirected-checked {
  border-width: 1px;
  border-color: var(--brand-color);
  background-color: var(--brand-color);
  background-image: url('../images/check-tick.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
}

.uui-form-radio-icon.w--redirected-focus {
  border-color: var(--brand-color);
  background-color: var(--brand-color);
  background-image: url('../images/check-tick.svg');
  background-position: 50%;
  background-size: auto;
  margin-top: 0;
  box-shadow: 0 0 0 4px #f4ebff;
}

.uui-form-radio-icon.tick-icon.w--redirected-checked {
  background-color: var(--brand-color);
  background-image: url('../images/check-tick.svg');
  border-width: 0;
}

.uui-form-checkbox-label {
  color: #344054;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.field-text {
  color: var(--text-color);
  margin-bottom: .5rem;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
}

.uui-form-radio {
  align-items: center;
  margin-bottom: 0;
  padding-left: 1.125rem;
  display: flex;
}

.contact-form-wrap {
  flex-direction: column;
  align-items: stretch;
  margin: 20px auto 0;
}

.form-cheak-box {
  align-items: center;
  margin-bottom: 0;
  padding-left: 1.25rem;
  display: flex;
}

.error-text {
  color: #e23939;
}

.form-field-wrapper {
  position: relative;
}

.uui-form-radio-label {
  color: #344054;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 500;
}

.contact-form-grid {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.uui-text-style-link-3 {
  color: #475467;
  text-decoration: underline;
  transition: color .3s;
}

.uui-text-style-link-3:hover {
  color: #344054;
}

.uui-form-checkbox-icon {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #d0d5dd;
  border-radius: .375rem;
  width: 1.25rem;
  min-width: 1.25rem;
  height: 1.25rem;
  min-height: 1.25rem;
  margin-top: 0;
  margin-left: -1.25rem;
  margin-right: .75rem;
  transition: all .3s;
}

.uui-form-checkbox-icon:hover {
  border-color: var(--brand-color);
  background-color: #f9f5ff;
}

.uui-form-checkbox-icon.w--redirected-checked {
  border-width: 0;
  border-color: var(--brand-color);
  background-color: var(--lime-green);
  box-shadow: none;
  background-image: url('../images/check.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: .875rem .875rem;
  background-attachment: scroll;
  border-radius: .25rem;
}

.uui-form-checkbox-icon.w--redirected-focus {
  border-width: 0;
  border-color: var(--brand-color);
  background-color: var(--lime-green);
  background-image: url('../images/check-tick.svg');
  background-position: 50%;
  background-size: auto;
  border-radius: .25rem;
  box-shadow: 0 0 0 4px #f4ebff;
}

.contact-form-wrapper {
  width: 100%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.form-button-wrapper {
  flex-direction: column;
  margin-top: .5rem;
  display: flex;
}

.success-text {
  font-weight: 600;
}

.form-input {
  color: #101828;
  background-color: #fff;
  border: 1px solid #d0d5dd;
  border-radius: .5rem;
  height: auto;
  min-height: 2.75rem;
  margin-bottom: 0;
  padding: .5rem .875rem;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  transition: all .3s;
  box-shadow: 0 1px 2px #1018280d;
}

.form-input:focus {
  border-color: var(--brand-color);
  color: #101828;
  box-shadow: 0 1px 2px #1018280d, 0 0 0 4px #fb65142b;
}

.form-input::placeholder {
  color: #667085;
}

.form-input.text-area {
  height: auto;
  min-height: 11.25rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  overflow: auto;
}

.form-input.select {
  color: #101828;
  background-color: #fff;
}

.service-card {
  position: relative;
}

.service-buttom-arrow {
  color: var(--white);
  text-align: center;
  background-color: #fd853ab3;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  position: absolute;
  inset: auto 0% 0%;
}

.service-buttom-arrow:hover {
  background-color: #fd853af2;
}

.tabs-content {
  padding-bottom: 40px;
}

.about-heading-wrap.padding-buttom-40px {
  padding-top: 60px;
  padding-bottom: 60px;
}

.hello-big {
  text-align: center;
  font-size: 120px;
  font-weight: 600;
  line-height: 110%;
}

.hello-sub-heading {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.about-wrap {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1.75fr .5fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  place-items: start stretch;
  padding-bottom: 60px;
  display: grid;
}

.text-semibold {
  font-weight: 600;
}

.line-rounded-icon.success-message-check {
  margin-bottom: 6px;
  font-size: 22px;
}

.line-rounded-icon.success-message-check.large {
  margin-bottom: 16px;
  font-size: 80px;
  line-height: 88px;
}

.color-neutral-300 {
  color: #eff0f6;
}

.text-center {
  text-align: center;
}

.text-center.pd-40 {
  padding-bottom: 40px;
  font-size: 20px;
}

.success-message-2 {
  color: #4a3aff;
  background-color: #f3f2ff;
  border-radius: 24px;
  padding: 28px 28px 32px;
}

.text-area {
  background-color: #fff;
  border: 1px solid #eff0f6;
  border-radius: 22px;
  min-height: 144px;
  padding: 16px 24px;
  font-size: 18px;
  line-height: 28px;
  transition: box-shadow .3s, color .3s, border-color .3s;
  box-shadow: 0 2px 7px #14142b14;
}

.text-area:hover {
  border-color: var(--brand-color);
  box-shadow: 0 2px 12px #14142b1a;
}

.text-area:focus {
  border-color: var(--brand-color);
  color: var(--text-color);
}

.text-area::placeholder {
  color: var(--grey-colour);
  font-size: 18px;
}

.text-200 {
  line-height: 20px;
}

.text-200.bold {
  font-weight: 700;
}

.social-icon-square {
  background-color: #f2f1ff;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 36px;
  min-width: 36px;
  height: 36px;
  min-height: 36px;
  text-decoration: none;
  transition: background-color .3s, color .3s;
  display: flex;
}

.social-icon-square:hover, .social-icon-square.color-primary {
  color: #fff;
  background-color: #4a3aff;
}

.social-icon-square.color-primary:hover {
  background-color: #3324d5;
}

.social-media-grid-top {
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, 36px);
  justify-content: start;
  justify-items: start;
}

.mg-bottom-48px {
  margin-bottom: 48px;
}

.social-icon-font {
  line-height: 21px;
}

.grid-2-columns {
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.grid-2-columns.contact-form-side-details {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1.2fr 1fr;
  align-items: stretch;
}

.contact-card {
  background-color: #fff;
  border: 1px solid #eff0f6;
  border-radius: 24px;
  box-shadow: 0 2px 7px #14142b0f;
}

.error-message-2 {
  color: #ff5a65;
  text-align: center;
  background-color: #ffeff0;
  border-radius: 16px;
  margin-top: 20px;
  padding: 20px 24px;
}

.btn-primary {
  background-color: var(--brand-color);
  color: #fff;
  text-align: center;
  transform-style: preserve-3d;
  border-radius: 48px;
  justify-content: center;
  padding: 26px 38px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  transition: background-color .3s, transform .3s, color .3s;
}

.btn-primary:hover {
  background-color: var(--brand-color);
  color: #fff;
  transform: translate3d(0, -3px, .01px);
}

.input {
  background-color: #fff;
  border: 1px solid #eff0f6;
  border-radius: 100px;
  min-height: 70px;
  margin-bottom: 0;
  padding: 16px 24px;
  font-size: 18px;
  line-height: 20px;
  transition: box-shadow .3s, color .3s, border-color .3s;
  box-shadow: 0 2px 7px #14142b14;
}

.input:hover {
  border-color: var(--brand-color);
  box-shadow: 0 2px 12px #14142b1a;
}

.input:focus {
  border-color: var(--brand-color);
  color: var(--brand-color);
}

.input::placeholder {
  color: var(--grey-colour);
  -webkit-text-stroke-color: var(--brand-color);
  font-size: 18px;
}

.subtitle {
  color: var(--brand-color);
  letter-spacing: .04em;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-weight: 700;
  line-height: 20px;
}

.mg-top-8px {
  margin-top: 8px;
}

.mg-bottom-32px {
  margin-bottom: 32px;
}

.flex-horizontal {
  justify-content: center;
  align-items: center;
  display: flex;
}

.flex-horizontal.start {
  justify-content: flex-start;
}

.contact-form-left-side {
  padding: 88px 56px;
}

.text-decoration-none {
  text-decoration: none;
}

.divider {
  background-color: #dcddeb;
  height: 1px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.divider._64px {
  margin-top: 64px;
  margin-bottom: 64px;
}

.mg-right-32px {
  margin-right: 32px;
}

.contact-form-right-side {
  background-color: #f7f7fc;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  padding: 88px 56px;
}

.project-heading {
  color: var(--brand-color);
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 600;
  line-height: 140%;
}

.project-heading.text-center._100px {
  margin-bottom: 0;
  padding-top: 40px;
  padding-bottom: 0;
  font-size: 100px;
  line-height: 110%;
}

.margin-auto {
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.margin-auto.padding-20 {
  padding-top: 0;
  padding-bottom: 20px;
}

.card-annimation-arrow {
  color: var(--white);
  text-align: center;
  cursor: pointer;
  background-color: #fb6514a6;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 0;
  font-size: 30px;
  font-weight: 600;
  line-height: 140%;
  position: absolute;
  inset: auto 0% 0%;
}

.hidden {
  padding-top: 12px;
  display: none;
}

.hireimg {
  max-height: 80%;
}

html.w-mod-js [data-ix="hide-block-title"] {
  opacity: 0;
  transform: translate(0, -10px);
}

html.w-mod-js [data-ix="hide-block-description"] {
  opacity: 0;
  transform: translate(0, 10px);
}

html.w-mod-js [data-ix="hide-block-button"] {
  opacity: 0;
}

html.w-mod-js [data-ix="hide-block-overlay"] {
  opacity: 0;
  display: none;
}

html.w-mod-js [data-ix="fade-in-on-load"] {
  opacity: 0;
  transform: translate(0, 30px);
}

html.w-mod-js [data-ix="fade-in-on-load-2"], html.w-mod-js [data-ix="fade-in-on-load-3"], html.w-mod-js [data-ix="fade-in-on-load-4"] {
  opacity: 0;
}

html.w-mod-js [data-ix="fade-in-on-scroll"], html.w-mod-js [data-ix="fade-in-on-scroll-2"], html.w-mod-js [data-ix="fade-in-on-scroll-3"], html.w-mod-js [data-ix="slide-title"], html.w-mod-js [data-ix="slide-title-2"], html.w-mod-js [data-ix="slide-title-3"], html.w-mod-js [data-ix="slide-title-4"] {
  opacity: 0;
  transform: translate(0, 20px);
}

html.w-mod-js [data-ix="mockup-fade-in"], html.w-mod-js [data-ix="mockup-fade-in-2"] {
  opacity: 0;
  transform: translate(-50px);
}

html.w-mod-js [data-ix="mockup-move"] {
  transform: translate(50px);
}

html.w-mod-js [data-ix="fade-in-zoom"], html.w-mod-js [data-ix="fade-in-zoom-2"], html.w-mod-js [data-ix="fade-in-zoom-3"] {
  opacity: 0;
  transform: scale(.9);
}

html.w-mod-js [data-ix="hide-popup"] {
  opacity: 0;
  display: none;
  transform: scale(1.1);
}

html.w-mod-js [data-ix="hide-gallery-overlay"] {
  opacity: 0;
  display: none;
}

html.w-mod-js [data-ix="fade-in-on-load-5"] {
  opacity: 0;
  transform: translate(0, 30px);
}

html.w-mod-js [data-ix="hide-lightbox"] {
  opacity: 0;
  display: none;
}

@media screen and (max-width: 991px) {
  li {
    font-size: 13px;
  }

  .portfolio-block-title {
    font-size: 16px;
    line-height: 19px;
  }

  .portfolio-block-subtitle {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 11px;
    line-height: 18px;
  }

  .service {
    padding-left: 3%;
    padding-right: 3%;
  }

  .cta-form {
    max-width: 85%;
  }

  .progress-bar__content-4 {
    width: 14%;
  }

  .footer-left-content {
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .about-grid {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    place-items: center;
  }

  .about-grid.gap-0.padding-120 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .nav-menu.flext-center {
    background-color: #131313f2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .footer {
    padding-left: 2%;
    padding-right: 2%;
  }

  .title {
    font-size: 57px;
  }

  .project-button {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .section.padding3 {
    padding-left: 3%;
    padding-right: 3%;
  }

  .project-slider-menu-wrap {
    grid-auto-flow: column;
  }

  .footer-right {
    text-align: center;
  }

  .hero-button {
    margin-top: 20px;
  }

  .project-div {
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  .project-grid {
    grid-template-columns: 1fr;
  }

  .hero-content {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .hero-contact-info {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 25px;
  }

  .footer-from-block {
    margin-left: auto;
    margin-right: auto;
  }

  .hero-grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr;
    place-items: center stretch;
  }

  .footer-top-wrapper {
    grid-row-gap: 16px;
    grid-template-columns: 1fr;
  }

  .social-list {
    margin-top: 10px;
    padding-left: 10px;
  }

  .footer-left {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 3fr 1fr 1fr;
  }

  .text-wrapper {
    grid-column-gap: 17px;
    grid-row-gap: 17px;
    flex-flow: row;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    min-width: 212%;
    display: flex;
  }

  .hire-content {
    text-align: center;
  }

  .header {
    padding-left: 2%;
    padding-right: 2%;
  }

  .nav-link {
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    max-width: 150px;
    display: flex;
  }

  .nav-button {
    margin-right: 10px;
    padding: 0;
    font-size: 50px;
  }

  .nav-button.w--open {
    background-color: #000;
    border-radius: 10px;
  }

  .peragraph {
    padding-left: 0;
    padding-right: 0;
  }

  .peragraph.padding-top-40 {
    padding-top: 20px;
  }

  .peragraph.padding-top-40.max-60 {
    max-width: 80%;
  }

  .peragraph.text-white {
    padding-left: 20px;
    padding-right: 10px;
  }

  .peragraph.text-white.pd-0 {
    padding-left: 0;
  }

  .peragraph._20 {
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 10px;
  }

  .heading-wrap {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: .5fr 1fr;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .brand {
    justify-content: center;
    align-items: center;
  }

  .testimonial-component {
    grid-template-columns: 1fr 1fr;
    padding-left: 2%;
    padding-right: 2%;
  }

  .progress-bar-wrap {
    margin-left: auto;
    margin-right: auto;
  }

  .award-box {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .sub-title {
    font-size: 24px;
  }

  .heading.text-white {
    font-size: 44px;
  }

  .heading.max-45 {
    max-width: 55%;
  }

  .heading.cta-45 {
    max-width: 85%;
  }

  .service-card-image {
    padding-top: 20px;
  }

  .project-slider-wrap {
    padding-left: 2%;
    padding-right: 2%;
  }

  .service-card-arrow {
    width: 60px;
  }

  .about-right-content {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
  }

  .footer-buttom-wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  ._120-px-padding {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .card-wrapper {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .service-card-heading {
    padding: 30px 10px;
    line-height: 110%;
  }

  .service-card-heading.text-black {
    font-size: 20px;
    font-weight: 600;
  }

  .container.flex-center {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .text {
    justify-content: flex-start;
    align-items: center;
    margin-right: 0;
  }

  .website-create-blog {
    grid-column-gap: 2rem;
  }

  .service-contact-heading-wrap {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .service-slide-grid {
    grid-column-gap: 3rem;
  }

  .timeline-content {
    grid-column-gap: 24px;
  }

  .mg-bottom-48px {
    margin-bottom: 40px;
  }

  .grid-2-columns.contact-form-side-details {
    grid-template-columns: 1.2fr;
  }

  .btn-primary {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .mg-bottom-32px {
    margin-bottom: 24px;
  }

  .contact-form-left-side {
    padding: 64px 40px;
  }

  .divider {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .divider._64px {
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .contact-form-right-side {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 24px;
    padding: 64px 40px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-block-subtitle {
    font-size: 12px;
  }

  .contact-popup {
    overflow: auto;
  }

  .award {
    justify-content: flex-start;
    align-items: center;
  }

  .title {
    font-size: 40px;
  }

  .project-button {
    font-size: 1rem;
  }

  .project-slider-menu-wrap {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr max-content;
    margin-top: 2rem;
  }

  .testimonial-client-image {
    margin-bottom: 1rem;
    margin-right: 0;
  }

  .animation {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .form-field {
    height: 30px;
  }

  .project-grid {
    grid-template-columns: 1fr;
  }

  .testimonial-client {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    flex-flow: row;
    align-items: flex-start;
    width: 100%;
  }

  .uui-footer02_social-link:hover {
    color: #98a2b3;
  }

  .footer-top-wrapper {
    grid-row-gap: 3rem;
  }

  .project-wrap {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .footer-left {
    grid-row-gap: 3rem;
  }

  .text-wrapper {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-width: 200%;
  }

  .testimonial-heading {
    font-size: 1.125rem;
  }

  .testimonial-heading.text-weight-medium {
    font-size: 16px;
  }

  .peragraph {
    font-size: 14px;
  }

  .peragraph.padding-top-40.max-60 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .peragraph.text-white.pd-0 {
    font-size: 12px;
  }

  .heading-wrap {
    text-align: center;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .testimonial-content-wrap {
    width: 20rem;
    min-width: 20rem;
    margin-right: 1.5rem;
    padding: 1.5rem;
  }

  .testimonial-component {
    grid-template-columns: 1fr;
    margin-top: 3rem;
  }

  .footer-link:hover {
    color: #667085;
  }

  .progress-bar-wrap {
    min-width: 350px;
    max-width: none;
    height: 64vh;
    padding: 24px 33px 24px 32px;
  }

  .award-box {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: 14px;
  }

  .heading {
    font-size: 30px;
  }

  .heading.max-45 {
    max-width: 90%;
  }

  .heading.cta-45 {
    font-size: 35px;
  }

  .heading.text-100 {
    font-size: 45px;
  }

  .primary-button {
    margin-left: auto;
    margin-right: auto;
  }

  .footer-buttom-wrapper {
    text-align: center;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }

  ._120-px-padding {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .card-wrapper {
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  .service-card-heading.text-black {
    font-size: 25px;
    font-weight: 700;
  }

  .uui-badge-small-success-2 {
    padding: .125rem .5rem;
  }

  .form-button {
    font-size: 1rem;
  }

  .form-button:hover {
    background-color: #7f56d9;
    border-color: #7f56d9;
  }

  .website-create-blog {
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .service-contact-heading-wrap {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  .service-slide-grid {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
    margin-top: 3rem;
  }

  ._2nd-heading {
    font-size: 1.125rem;
  }

  .single-service-box {
    padding-left: 0;
  }

  .contact-form-wrap {
    margin-top: 3rem;
  }

  .about-wrap {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  .line-rounded-icon.success-message-check.large {
    font-size: 68px;
    line-height: 73px;
  }

  .text-area {
    border-radius: 18px;
  }

  .text-200 {
    font-size: 16px;
    line-height: 18px;
  }

  .mg-bottom-48px {
    margin-bottom: 32px;
  }

  .grid-2-columns {
    grid-template-columns: 1fr;
  }

  .grid-2-columns.form {
    grid-row-gap: 20px;
  }

  .btn-primary {
    padding: 20px 32px;
  }

  .input {
    min-height: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .contact-form-left-side {
    padding-left: 32px;
    padding-right: 32px;
  }

  .divider {
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .mg-right-32px {
    margin-right: 24px;
  }

  .contact-form-right-side {
    padding-left: 32px;
    padding-right: 32px;
  }

  .project-heading.text-center._100px {
    font-size: 70px;
    line-height: 100%;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 31px;
    line-height: 37px;
  }

  h2 {
    font-size: 24px;
    line-height: 29px;
  }

  blockquote {
    border-left-width: 3px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 0;
    font-size: 17px;
    line-height: 23px;
  }

  .button {
    margin-top: 10px;
    padding-left: 19px;
    padding-right: 19px;
    font-size: 11px;
    line-height: 21px;
  }

  .progress-bar__content-4 {
    width: 14%;
  }

  .footer-left-content {
    justify-content: space-between;
    align-items: flex-start;
  }

  .about-grid.gap-0.padding-120._0, .cta {
    padding-bottom: 60px;
  }

  .skill-heading {
    margin-bottom: 8px;
    font-size: 14px;
  }

  .project-div {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .form-field {
    font-size: 12px;
  }

  .for-mobile {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
    align-items: flex-start;
    display: flex;
  }

  .for-mobile.hidden {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .hero-content {
    padding-bottom: 20px;
  }

  .progres-bar-2 {
    width: 100%;
    margin-right: 8px;
  }

  .submit-button {
    padding-left: 10px;
    padding-right: 10px;
  }

  .hero-grid {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    padding-bottom: 20px;
  }

  .line {
    height: 100px;
  }

  .footer-top-wrapper {
    grid-row-gap: 3rem;
  }

  .card-text {
    font-size: 14px;
  }

  .footer-left {
    grid-row-gap: 2rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
  }

  .footer-top {
    flex-flow: column;
  }

  .skill-header {
    margin-bottom: 0;
  }

  .text-wrapper {
    justify-content: space-between;
    align-items: center;
    min-width: 452%;
  }

  .testimonial-heading.text-weight-medium {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
  }

  .testimonal-loop {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .footer-link-list.hiden {
    display: none;
  }

  .peragraph.padding-top-40 {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }

  .peragraph.padding-top-40.max-60 {
    max-width: 98%;
    padding-left: 0;
    padding-right: 0;
  }

  .peragraph.text-white {
    font-size: 14px;
  }

  .peragraph.text-size.ps-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .testimonial-content-wrap {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    border-width: 1px;
    border-color: #fd853a;
    width: 17rem;
    min-width: 17rem;
    margin-right: 0;
    padding: 5px 0 5px 5px;
  }

  .progress-bar-wrap {
    min-width: 0;
    max-width: none;
    height: auto;
    padding: 16px 24px;
  }

  .award-box {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .testimonials-heading.cta.text-white {
    padding-top: 20px;
  }

  .heading.text-white {
    font-size: 30px;
  }

  .heading.max-45 {
    font-size: 35px;
  }

  .heading.cta-45 {
    max-width: 90%;
    font-size: 25px;
  }

  .heading._10 {
    padding-left: 10px;
  }

  .primary-button {
    margin-left: auto;
    margin-right: auto;
  }

  .service-card-image {
    padding-top: 10px;
  }

  .service-card-image.pd-20.hide {
    display: none;
    overflow: hidden;
  }

  .about-right-content {
    padding-left: 0;
    padding-right: 0;
  }

  .footer-form {
    grid-row-gap: 12px;
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .service-card-heading.text-black {
    padding: 10px 5px;
    font-size: 20px;
  }

  .form-button:hover {
    border-color: var(--brand-color);
    background-color: var(--brand-color);
  }

  .service-contact-heading-wrap {
    grid-column-gap: 2px;
    grid-row-gap: 2px;
  }

  .service-slide-grid {
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
  }

  .single-service-box.w--current {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-bottom: 10px;
    padding-bottom: 0;
  }

  .form-field-2col {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .form-radio-2col {
    grid-template-columns: 1fr;
  }

  .service-buttom-arrow.static {
    position: static;
  }

  .hello-big {
    font-size: 65px;
  }

  .line-rounded-icon.success-message-check.large {
    font-size: 58px;
    line-height: 64px;
  }

  .text-center.pd-40 {
    padding-bottom: 20px;
    font-size: 16px;
  }

  .social-icon-square {
    border-radius: 6px;
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    font-size: 14px;
  }

  .social-media-grid-top {
    grid-template-columns: repeat(auto-fit, 30px);
  }

  .mg-bottom-48px {
    margin-bottom: 32px;
  }

  .btn-primary {
    background-color: var(--brand-color);
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .btn-primary:hover {
    background-color: var(--brand-color);
  }

  .input {
    font-size: 16px;
    line-height: 18px;
  }

  .input::placeholder {
    font-size: 16px;
    line-height: 16px;
  }

  .flex-horizontal.start.flex-wrap {
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
  }

  .contact-form-left-side {
    padding: 48px 24px;
  }

  .divider, .divider._64px {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .mg-right-32px.mg-bottom-16px-mbp {
    margin-bottom: 16px;
  }

  .contact-form-right-side {
    padding: 48px 24px;
  }

  .project-heading {
    font-size: 30px;
  }

  .project-heading.text-center._100px {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 50px;
  }
}

#w-node-bc6ce6de-4b48-e8d7-6e8c-d39426c5b848-d833a546 {
  justify-self: center;
}

#w-node-daeecc6e-b44d-9f71-501f-246c4ae3a9f8-d833a5c1 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-daeecc6e-b44d-9f71-501f-246c4ae3a9fc-d833a5c1 {
  justify-self: start;
}

#w-node-d4cffd1c-5e1b-55ad-a4e9-7c9b1e1551a8-d833a5e4 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-f22080b7-6a83-7ff3-b015-30b1a3e66579-d833a5e4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f22080b7-6a83-7ff3-b015-30b1a3e6657a-d833a5e4 {
  justify-self: center;
}

#w-node-ef7c2d84-f9c5-8f7c-393e-5c5e6522ea7c-d833a5e4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-ef7c2d84-f9c5-8f7c-393e-5c5e6522ea7d-d833a5e4 {
  justify-self: center;
}

#w-node-_0a0219ef-b36e-9cca-49bc-6a3e04669273-d833a5e4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_0a0219ef-b36e-9cca-49bc-6a3e04669274-d833a5e4 {
  justify-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-bc6ce6de-4b48-e8d7-6e8c-d39426c5b7b9-d833a546 {
    order: 9999;
  }

  #w-node-bc6ce6de-4b48-e8d7-6e8c-d39426c5b7bb-d833a546 {
    justify-self: center;
  }

  #w-node-_775ee62f-8349-87d5-f98d-bb5d131e27a6-131e2798 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-bc6ce6de-4b48-e8d7-6e8c-d39426c5b7a9-d833a546 {
    order: 9999;
  }

  #w-node-_775ee62f-8349-87d5-f98d-bb5d131e27a6-131e2798 {
    order: 9999;
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-daeecc6e-b44d-9f71-501f-246c4ae3a9f8-d833a5c1 {
    grid-column: span 1 / span 1;
  }
}


